html {
  font-size: 62.5%;
}
body {
  background-color: #eee !important;
}
small {
  color: #dc3545;
}
button, input {
  padding: .5rem 1rem !important;
  font-size: 16px !important;
}
table {
  font-size: 14px;
}
.h4-title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  line-height: 56px;
  font-size: 20px;
  background: #343a40;
  color: #fff;
  text-align: center;
  z-index: 999;
  user-select: none;
}
.admin-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
.clearfix {
  display: table;
  content: '';
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}